<h1>Who want some cocktails?</h1>
<div class="red">
<h2> ** today's special ** </h2>
<%= cl_image_tag("https://res.cloudinary.com/dambigbiy/image/upload/v1589531728/ejqd6vnbwevultfx3pw2.jpg",
      width: 400, height: 300, crop: :fill) %>
</div>
<div class="card>
<% @cocktails.each do |cocktail| %>
    <li>
      <h3><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h3>
      <p><%= link_to 'More is better', new_cocktail_path %>
      <p><%= link_to 'add doses', new_cocktail_dose_path(cocktail.id) %></p>
   </li>
</div>
  <% end %>

